/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  margin-left: 50%;
  transform: translate(-35%);
  width: 90%;
}

/*
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  margin-left: 30%;
  width: 90%;
}
*/

h1 {
  color: #373fff;
}

.conversation {
  display: flex;
  flex: 1;
  flex-flow: column-reverse nowrap;
  justify-content: flex-bottom;
  overflow-y: auto;
  padding: 1em;
  -webkit-overflow-scrolling: touch;
}

.chat {
  max-width: 85%;
  padding: 0.5em 1em;
}

.question {
  background-color: #373fff;
  border-radius: 1em 1em 1em 0;
  color: white;
  margin-right: auto;
  text-align: left;
}

.answer {
  background-color: #ddd;
  border-radius: 1em 1em 0 1em;
  margin-left: auto;
  text-align: right;
}

.chatbox {
  align-items: baseline;
  border-top: 1px solid #ddd;
  display: flex;
  flex-flow: row nowrap;
  height: 3em;
  justify-content: space-between;
  margin: 0.25em auto 1em auto;
  padding-top: 0.5em;
  width: 100%;
}

.chatbox_inputfield {
  border: none;
  flex: 1;
  font-size: 1em;
  margin: 0;
  padding: 0.25em;
}

.chatbox_inputfield:focus {
  background-color: #373fff0F;
  outline: none;
}

.chatbox_sendbutton {
  appearance: none;
  background-color: transparent;
  border: 1px solid #373fff;
  border-radius: 0.25em;
  color: #373fff;
  font-size: 1em;
  margin-left: 0.5em;
  padding: 0.25em;
}

.chatbox_sendbutton:hover {
  background-color: #373fff;
  color: white;
}

.chatbox_sendbutton:active {
  background-color: transparent;
  transform: scale(0.9);
}

.chatbox_sendbutton:disabled {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #ccc;
}

.footer {
  color: #9c9c9c;
  font-size: 0.75em;
  text-align: center;
}

/* Blinking cursor adapted from https://codepen.io/ArtemGordinsky/pen/GnLBq */
.blinking-cursor {
  font-weight: 100;
  font-size: 1.25em;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

/* Fix user-agent */

* {
  box-sizing: border-box;
}

.login.page.html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.login.page.input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: blue;
}

.login.page .form {
  height: 100px;
  margin-top: -280px; /*original -150px*/
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 50%;
  width: 100%;
}

/*.login.page .form {
  height: 100px;
  margin-top: -150px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}*/

.login.page .title {
  font-size: 200%;
  color: #fff;
  font-weight: 100;
  margin-top: 150px; /*could delete this later*/
  margin-bottom: 18px;
}

.loginForm {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}
/*style for paragraphs in the login page*/
.para {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 29px;
  background-color: cyan;
  display: inline-block;
  width: 80%;
  max-width: 600px;
  border-radius: 7px;
  text-align: left;
}

.inputField {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}
.selection {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

.submit_button {
  font-size: 17px;
  border-radius: 3px;
  background-color: #23272b;
  border: 1px solid blue;
  box-shadow: 2px 2px #044c;
  cursor: pointer;
  display: block;
  margin: auto;
  color: #fff;
  padding: 8px 17px;
}

.submit_button:hover {
  background-color: darkblue;
}

.submit_button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
